/* -- Global rules -- */
* {
  border: none;
  font-family: "UbuntuMono Nerd Font";
  font-size: 19px;
  min-height: 10px;
}

window#waybar {
  background: rgba(30, 30, 46, 0.6);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#battery,
#backlight,
#disk,
#idle_inhibitor,
#pulseaudio,
#power-profiles-daemon,
#pulseaudio-slider,
#network,
#custom-wallpaper {
  color: #181825;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#clock,
#custom-archicon,
#cpu,
#network,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Separation to the right */
#custom-archicon,
#clock,
#disk,

#backlight,
#network {
  margin-right: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 30px;
  color: #89b4fa;
  background: #181825;
  padding-right: 20px;
}

#clock {
  background: #181825;
  color: #cdd6f4;
}

#cpu {
  background: #181825;
  color: #89dceb;
}

#memory {
  background: #181825;
  color: #94e2d5;
}

#disk {
  color: #a6e3bb;
  background: #181825;
  padding-right: 19px;
}


/* Modules center */
#workspaces {
  background: #181825;
  border-radius: 5px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #74c7ec;
  background: transparent;
  padding-left: 4px;
  padding-right: 8px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #74c7ec;
}

#workspaces button.active {
  color: #74c7ec;
}

#workspaces button:hover {
  color: #74c7ec;
}

#workspaces button.active:hover {}

/* Modules right */
#taskbar {
  background: transparent;
  border-radius: 5px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#battery {
  color: #f9e2af;
  background: #181825; 
}

#power-profiles-daemon {
  color: #fab387;
  background: #181825;
  padding-right: 8px;
}

#idle_inhibitor {
  color: #89b4fa;
  background: #181825;
  padding-right: 15px;
}

#pulseaudio {
  min-width: 55px;
  background: #181825;
  color: #74c7ec;
}


#backlight {
  color: #89dceb;
  background: #181825;
  padding-right: 19px;
}

#custom-wallpaper {
  color: #94e2d5;
  background: #181825;
  padding-right: 13px;
}

#network {
  color: #b4befe;
  background: #181825;
  padding-right: 8px;
}


/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}
